.formControl.error {
  textarea, input{
    border: solid red 2px;
  }

  span {
    color: red;
  }
}

.formSummaryError {
  margin-top: 0;
  width: 25%;
  border: red 1px solid;
  padding: 5px;
  color: red;
}