.header {
  width: 100%;
  background-color: rgba(40, 133, 156, 0.767);
  margin-bottom: 10px;

  img {
    padding-left: 10px;
    height: 100px;
    width: 100px;
  }

  &__loginBlock {
    float: right;
    color: rgba(255, 255, 255, 0.904);
    &:hover {
      color: rgb(193, 248, 250);
      cursor: pointer;
    }
  }
}
