.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: rgba(4, 58, 109, 0.767);
  margin-bottom: 10px;
}

.logo {
  height: 50px;
  width: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.nav {
  background-color: rgba(4, 58, 109, 0.767);
  color: white;
  width: 20%;
  margin-right: 10px;
}

.content {
  width: 80%;
}

.content img {
  width: 100%;
  height: 250px;
}

a {
  color: white;
  text-decoration: none;
}