.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 10px;
}

.persons {
  .active {
    background-color: rgba(40, 133, 156, 0.767);
    border-radius: 5px;
    padding-left: 3px;
    color: #8bfbff;
    width: 90%;
    height: 20px;
  }

  &__profile {
    display: flex;
  }

  &__photo img {
    width: 60px;
    height: 55px;
    border-radius: 50%;
  }
}

.chats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__message {
    color: black;
  }
}

.dialogsForm {
  form {
    button {
      width: 100px;
    }
    textarea {
      width: 300px;
      height: 50px;
    }
    display: flex;
    flex-direction: column;
  }
}
